.App {
    text-align: center;
}
.Sad {
    height: 20vmin;
    pointer-events: none;
    position: relative;
    left: 40%
}
.App-Poke {
    height: 20vmin;
    pointer-events: none;
    position: relative;
    left: 45%
}

@media (prefers-reduced-motion: no-preference) {
    .App-Poke {
        animation: App-Poke-spin infinite 10s linear;
    }
}

@keyframes App-Poke-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
img {
    margin: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 4px #747DE8;
    animation: glow 1.5s linear infinite alternate;
}

@keyframes glow{
    to {
        box-shadow: 0px 0px 30px 20px #535FED;
    }
}